@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-primary: 220 220 221;
	--color-bg: 70 73 76;
	--color-secondary: 76 92 104;
	--color-error: 238 103 125;
	--color-success: 25 133 161;
}

@layer base {
	@font-face {
		font-family: "Raleway";
		font-style: normal;
		font-weight: 100 900;
		font-display: optional;
		src: url("/fonts/Raleway.ttf");
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
			U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	}

	@font-face {
		font-family: "Open Sans";
		font-style: normal;
		font-weight: 100 900;
		font-display: optional;
		src: url("/fonts/Open-Sans.ttf");
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
			U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	}

	h1,
	.h1 {
		@apply text-4xl font-semibold sm:text-5xl text-primary;
	}

	h2,
	.h2 {
		@apply text-3xl font-semibold sm:text-4xl text-primary;
	}

	h3,
	.h3 {
		@apply text-2xl font-semibold sm:text-3xl text-primary;
	}

	h4,
	.h4 {
		@apply text-xl font-semibold sm:text-2xl text-primary;
	}

	h5,
	.h5 {
		@apply text-lg font-semibold sm:text-xl text-primary;
	}

	body,
	.p {
		@apply text-sm sm:text-base text-primary;
	}

	.stroke {
		-webkit-text-stroke: 1px rgb(var(--color-primary));
	}

	.layout {
		max-width: 68.75rem;
		@apply mx-auto w-11/12;
	}
}

.shimmer {
	@apply before:absolute before:inset-0 before:bg-gradient-to-r before:from-transparent before:via-primary/20 before:to-transparent before:-translate-x-full before:animate-[shimmer_2s_infinite];
}
